body {
    font:400 16px 'Calibri','Arial';
}
a, h1, h2 {
    color: #377ba8;
}
h1, h2 {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border: 1px solid #5555 !important;
}
table tr:first-child {
    background:#7777;
}
table tr {
    background: #eeee;
    line-height: 30px;
}
table tr:nth-of-type(2n) {
    background:#ffff !important;
}
a {
    text-decoration: none;
}
