body {
    font:400 16px 'Calibri','Arial';
    background: #eee;
}
a, h1, h2 {
    color: #377ba8;
}
h1, h2 {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
}
h1 {
    border-bottom: 10px solid #eee;
    text-align: center;
}
h2 {
    font-size: 1.2em;
}
table {
    width: 100%;
}
table tr:first-child {
    background:#7777;
}
table tr:hover:not(:first-child) {
    background:#ffff;
}
a {
    text-decoration: none;
}
